body {
    background-color: #f4f1de;
    margin: 0 auto;
}

footer {
    margin: auto;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e07a5f;
    text-align: center;
}
