body {
    background-color: beige;
    margin: 0 auto;
}

footer {
    margin: auto;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    text-align: center;
}
